@model List<POEClassLibrary.Module>

@{
    ViewData["Title"] = "EditSemesterInfo";
}

<div style="background-image: linear-gradient(to right,#F15156, #DBD3E5); width: 100%; border-radius: 20px; padding: 5px">
    <h1 style="color:#151515">Edit Semester Information</h1>
</div>

<form asp-action="EditSemesterInfo" method="post">
    <div>
        <table style="width: 100%;">
            <tr>
                <td>
                    <label style="font-size:40px">This semester's start date:</label>
                </td>
                <td>
                    <input type="date" name="txtStartDate" />
                </td>
            </tr>
            <tr>
                <td>
                    <label style="font-size:40px">Number of weeks this semester:</label>
                </td>
                <td>
                    <input type="number" name="txtNumOfWeeks" />
                </td>
            </tr>
        </table>
        <label style="font-size:40px">Pick a module that you want to study for each day this week:</label>
        <br />
        <table style="width: 100%;">
            <tr>
                <td>
                    <label>Monday:</label>
                </td>
                <td>
                    <select name="cmbMonday" style="color:white; background-color:#151515; padding:6px">
                        @foreach (var m in Model)
                        {
                            <option value="@m.Name">@m.Name</option>
                        }
                        <option>None</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Tuesday:</label>
                </td>
                <td>
                    <select name="cmbTuesday" style="color:white; background-color:#151515; padding:6px">
                        @foreach (var m in Model)
                        {
                            <option value="@m.Name">@m.Name</option>
                        }
                        <option>None</option>
                    </select>
                </td>

            </tr>
            <tr>
                <td>
                    <label>Wednesday:</label>
                </td>
                <td>
                    <select name="cmbWednesday" style="color:white; background-color:#151515; padding:6px">
                        @foreach (var m in Model)
                        {
                            <option value="@m.Name">@m.Name</option>
                        }
                        <option>None</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Thursday:</label>

                </td>
                <td>
                    <select name="cmbThursday" style="color:white; background-color:#151515; padding:6px">
                        @foreach (var m in Model)
                        {
                            <option value="@m.Name">@m.Name</option>
                        }
                        <option>None</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Friday:</label>
                </td>
                <td>
                    <select name="cmbFriday" style="color:white; background-color:#151515; padding:6px">
                        @foreach (var m in Model)
                        {
                            <option value="@m.Name">@m.Name</option>
                        }
                        <option>None</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Saturday:</label>
                </td>
                <td>
                    <select name="cmbSaturday" style="color:white; background-color:#151515; padding:6px">
                        @foreach (var m in Model)
                        {
                            <option value="@m.Name">@m.Name</option>
                        }
                        <option>None</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Sunday:</label>
                </td>
                <td>
                    <select name="cmbSunday" style="color:white; background-color:#151515; padding:6px">
                        @foreach (var m in Model)
                        {
                            <option value="@m.Name">@m.Name</option>
                        }
                        <option>None</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <br />
    <div style="text-align:center">
        <button name="btnEnter" style="font-size:35px;">Enter</button>
        <br />
        <label style="font-size:25px; color: #D5424E;" id="lblError"> @ViewBag.ErrorMessage </label>
    </div>
</form>


